@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
}
